@import "../../styles/variables";

.forecast {
  display: flex;
  flex-direction: column;
  //gap: 1em;
  width: 100%;
  font-size: 13px;
  font-weight: 300;
  //justify-content: center;
  padding: 1em 2em;
  background-color: $color-background-card;
  border-radius: 5px;
  margin-bottom: 2em;

  &__day {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1em;

    &__pop {
      justify-self: end;
    }

    &__icon {
      width: 40%;
      justify-self: center;
    }

    &__max-min {
      font-weight: 500;
    }
  }
}
