// Colors

$color-background: hsl(245, 33%, 40%);

$color-white: hsl(0, 0%, 100%);

// RESPONSIVE BREAKPOINTS
$bp-mobile: 375px;
$bp-small: 580px;
$bp-medium: 900px;
$bp-desktop: 1440px;

// Font
$font-family: "Rubik", sans-serif;
