// Colors

$color-background: hsl(0, 0%, 20%);

$color-white: hsl(0, 0%, 100%);

$color-background-card: hsl(0deg 0% 43%);

// RESPONSIVE BREAKPOINTS
$bp-mobile: 375px;
$bp-small: 580px;
$bp-medium: 900px;
$bp-desktop: 1440px;

// Font
$font-family: "Rubik", sans-serif;
