// Colors

$color-background: hsl(0, 0%, 20%);

$color-white: hsl(0, 0%, 100%);

$color-background-card: hsl(0deg 0% 43%);

$color-background-card-secondary: hsl(240, 1%, 29%);

// RESPONSIVE BREAKPOINTS
$bp-mobile: 375px;
$bp-small: 680px;

// Font
$font-family: 'Rubik', sans-serif;
