@import './styles/variables';

.App {
  width: 600px;
  height: fit-content;
  border-radius: 10px;
  background-color: hsl(0deg 0% 100% / 20%);

  @media only screen and (max-width: $bp-small) {
    width: 80vw;
  }
}
